:root {
    --primary-color: #2d2c62;
    --primary-light-color: #96ADC8;
    --secondary-color: #fa676d;
    --alice-blue: #e3f0ff;
  }
  * {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
  }

  input:focus {
    outline: none;
  }

  #message:focus{
    outline: none;
  }
  #message:focus::placeholder{
    opacity: 0;

  }




.container{
    width: 100%;
    height: auto;
    background-color: var(--primary-light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.checkboxs div, .checkboxs label {
    margin: 10px 0;
    display: flex;
    align-items: center;
    
  }

  
#message{
    width: 100%;
    padding-bottom: 50px;
    border-radius: 10px;
    border-color: transparent;
}

#submit{
    display: flex;
    margin: 10px auto;
    padding: 10px 30px;  
    border-radius: 10px;
    border: none;
}

#submit:hover{
  background-color: var(--alice-blue);
}

#submit:active{
  background-origin: var(--primary-color);
}

form{
    background: var(--primary-light-color);  
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: auto;
    border-radius: 10px;
}


input{
    text-align: center;
    margin: 10px;
    padding: 10px 80px;
    border-radius: 10px;
    border: none;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    outline: none;
    margin-right: 10px;
    padding: 0px;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--primary-color);
  }

  .extra {
    width: 100%;
  }



@media screen and (max-width: 992px) {
    .container {
      flex-direction: column;
    }

    .extra input {
        width: min-content;
    }
    
    form {
      align-items: center;
      text-align: center; 
    }
    
    #submit {
      margin: 10px 0;
    }
    
    .checkboxs {
        width: 100%;
      }
      
      

}

.popup{
  width: 400px;
  background: white;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  z-index: 5;
  border:solid 3px var(--primary-color);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0 ,0,0,0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0px 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;  
  background-color: var(--primary-light-color);
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0 ,0,0,0.2);

}